{% extends "kyogi/base.html" %}
{% block content %}

<h1>Python競技プログラミングサイト</h1>
    <p class="message-1">
        ようこそ！
        <br>Python競技プログラミングを始めましょう。
    </p>
        <div class="userin">
            <a href="{% url 'Login' %}" class="btn">ログイン</a>
            <a href="{% url 'register' %}" class="btn">新規登録</a>
        </div>
        <p><font color="red">初めに説明書を読み横の『EX問題』ボタンから練習問題にチャレンジしましょう!</font></p>
        <div class="userin">
        <a href="https://drive.google.com/file/d/1DcSrhiCRZJoA_yYxVgToQmYOPVEc1sDj/view?usp=share_link" class="btn" target="_blank" rel="noopener noreferrer"><font color="red">説明書はこちら</font></a>
        <a href="ex" class="btn">EX問題</a>
        </div>
    <br>

{% endblock %}
