{% extends "kyogi/base3.html" %}
{% block content %}

<div class = "mondai">
    <h1 class="daimon">問題1 数学 倍数問題</h1>
    <p class = "timer" id="timer"></p>
    <br>
    <div class = "Q">
        <font color="black">問題:</font>
        6桁の正の整数のうち、91の倍数はいくつあるか。
        <br>
        <font color="black">出力:</font>
        倍数がいくつあるか、数字のみをreturnせよ
    </div>
   <br>
   <form method="post" action="reset" class = "reset">
        {% csrf_token %}
        <input type="submit" id="btn" name="syukei" class="btn reset-btn" value="リセット">
        <input type="hidden" name="name" value={{ UserID }}>
        <input type="hidden" name="number" value="1">
        <input type="hidden" name="itiran" value="1">
        <textarea id="save_time" name="clear_time" style="display:none"></textarea>
    </form>
    <form method="post" action="reset" class = "reset">
        {% csrf_token %}
        <input type="submit" id="btn" name="syukei" class="btn reset-btn" value="問題一覧へ">
        <input type="hidden" name="name" value={{ UserID }}>
        <input type="hidden" name="number" value="1">
        <input type="hidden" name="itiran" value="0">
        <textarea id="itiran_time" name="clear_time" style="display:none"></textarea>
    </form>
   
    <py-repl>
def multiple91():
    # ここにコードを記述し右下の実行を押してください
    return None
    </py-repl>
        <p style="float: left;">正誤判定</p>
        <p style="text-align: right;">カーソルをこちら↑に</p>
    <py-repl>
if multiple91() == multiple91_ans:             
    print('clear!!')
else:
    print('答えが違います')
    </py-repl>
    <py-terminal auto="" class=""></py-terminal>

    <form name = "clear" method="post" target="iframe" action="check">
        {% csrf_token %}
        <input type="submit" id="btn" name="syukei" class="btn" py-Click="check()" value="提出" style="float: left;">
        <input type="hidden" name="name" value={{ UserID }}>
        <input type="hidden" name="number" value="1">{% comment %} 問題番号 {% endcomment %}
        <textarea id="clear" name="clear" style="display:none"></textarea>
        <textarea id="clear_time" name="clear_time" style="display:none"></textarea>
    </form>
    <p style="text-align: right;">カーソルをこちら↑に</p>
    <br>
    <label id="check_answer" class="clear"></label>

    <iframe id="iframe" name="iframe" style="display: none;"></iframe>
    <textarea id="mysave_time" style="display: none;">{{ my_save_time }}</textarea>
</div>

<py-script>
import datetime
import asyncio

clear = 0
multiple91_ans = 9891
save_time = Element("mysave_time").element.value

def check():
    multiple91_ans = 9891
    if multiple91() == multiple91_ans:
        Element("check_answer").write("All clear!!  次の問題に進みましょう")
        global clear
        clear = 1
    else:
        Element("check_answer").write("エラーが発生します。やり直してください")

dt_was = datetime.datetime.now()
        
def elapsed_time_str(seconds):
            
    seconds = int(seconds + 0.5)    # 秒数を四捨五入
    h = seconds // 3600             # 時の取得
    m = (seconds - h * 3600) // 60  # 分の取得
    s = seconds - h * 3600 - m * 60 # 秒の取得
        
    return f"{h:02}:{m:02}:{s:02}"  # hh:mm:ss形式の文字列で返す
        
async def main():
    while True:
        dt_now = datetime.datetime.now()
        time = dt_now - dt_was
        time1 = time.seconds
        time = elapsed_time_str(time.seconds + int(save_time))
        Element("timer").write("経過時間:"+time)
        Element("clear_time").write(time1 + int(save_time))
        Element("save_time").write(time1 + int(save_time))
        Element("itiran_time").write(time1 + int(save_time))
        check_clear()
        await asyncio.sleep(1)
        if clear == 1:
            break


def check_clear():
    try:
        multiple91_ans = 9891
        assert multiple91() == multiple91_ans
        clear = 1
        Element("clear").write(value = clear)
    except:
        clear = 0
        Element("clear").write(value = clear)
        


pyscript.run_until_complete(main())  

</py-script>
{% endblock %}
